#title{
    margin-left: 5vw;
    line-height:50%; /* Reduce spaces between lines */
    clear: both;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: greenyellow;
}